# Pipeline
export LOCAL_PIPELINE_DB_URI=''
export DEV_PIPELINE_DB_URI=''
export STAGING_PIPELINE_DB_URI=''
export PROD_PIPELINE_DB_URI=''
export PIPELINE_CONNECTION_STRING=''


# Docks
export LOCAL_DOCK_DB_URI=''
export DEV_DOCK_DB_URI=''
export STAGING_DOCK_DB_URI=''
export PROD_DOCK_DB_URI=''
export LOCAL_DOCKEVENTS_DB_URI=''
export DEV_DOCKEVENTS_DB_URI=''
export STAGING_DOCKEVENTS_DB_URI=''
export PROD_DOCKEVENTS_DB_URI=''


# Clickhouse
## URL
export CLICKHOUSE_DEV_URL=''
export CLICKHOUSE_STAGING_URL=''
export CLICKHOUSE_PRODUCTION_URL=''
export CLICKHOUSE_URL=''
## Password
export CLICKHOUSE_DEV_PASSWORD=''
export CLICKHOUSE_STAGING_PASSWORD=''
export CLICKHOUSE_PRODUCTION_PASSWORD=''
export CLICKHOUSE_PASSWORD=''
